<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../css/index.css"/>

</head>
<body>
<div class="cont">
    <div class="input-todo">
    <h1>T O D O S</h1>
    <label class="lbl hidden" for="main_input">
    </label>
    <input id="main_input" class=""  type="text" placeholder="what need to do?"><br>
    </div>
    <div class="wrapper-todo">
        <ul class="add-todo"></ul>
    </div>

</div>


<script src="../js/base.js"></script>
<script src="../js/utils.js"></script>

</body>
</html>